/*
* @Author: Administrator
* @Date:   2018-07-09 19:30:00
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-09 19:36:56
*/
h2{
	color: blue;
}
p{
	color: red;
}
span{
	color: #f522c2;
}
